/* fonts */
.inter-logo {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: auto;
}

.raleway-banner {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.blue-font-styles{
    color: #4E47FF;
    font-weight: bold;
    font-size: 80px;
}
.desp-style{
    color: #00000073;
    font-size: 20px;
    
}
/* container */
.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 20px; 
}
/* button-style */

.btn-primary {
    background-color: #4E47FF;
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 12px 36px;
    border-radius: 5px;
    border: none;
}

/* navigation */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
}


.banner {
    justify-content: center;

}

.header {
    background-image: url('../image/hero-bg.png');
    align-items: center;
}

.banner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 200px;
    text-align: center;
}



/* action */
.action-highlight {
    margin-top: 200px;
    margin-bottom: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    max-width: 1140px;
    align-items: center;
    gap: 60px;
    flex-wrap: wrap;
}




.highlight-image {
    border-radius: 48px;
    height: 328px;
    width: 403px;
    object-fit: cover;
    margin-top: 0;
}

main {
    max-width: 1440px;
    margin: 0% auto;
    justify-content: center;
    align-content: center;
    align-items: center;
}



.action-content {
    width: 517px;
}

/* pdt-users-style */
.pdt-users{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1140px;
    padding: 50px 142px;
    text-align: center;
    background-color: #4d47ff23;
    border-radius: 24px;
}
.users-data-info{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 40px;
}
.users-data h3,
.users-data p {
    margin: 0;
    
}

/* feedback */
.user-feedback{
    margin-top: 137px;
}
.review-list{
    display: flex;
    gap: 20px;
}
.section-title{
    text-align: center;
    padding-bottom: 50px;
}
.review-card{
    background-color: #FFFFFF;
    border-radius: 14px;
    padding: 24px 24px;
    box-shadow: #F2EDED 2px 2px;
    border: black 2px;
}
.review-header{
    display: flex;
    gap: 12px; ;
    align-items: center;
}
.rev-description{
    font-size: smaller;
    color: #1E1E1E;
}

.name , .date {
    color: #25243279;
}
.review-avatar{
    border-radius: 50%;
    height: 40px;
    width: 40px;
   
}
.reviewer-info{
    
    